/* application.css */

@font-face {
    font-family: Poppins;
    src: url('..//fonts//Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('..//fonts//Poppins-Medium.ttf');
}

* {
	-fx-font-family: Poppins;
}

#root{
	-fx-background-color: #E1F9EB;
}

#body {
	-fx-padding: 0px 25px 25px 25px;
}

/*** sidebar nav ***/
#NavPane{
	-fx-background-color: #6FCF97;
}

.menuButton{
	-fx-pref-height: 75px;
	-fx-pref-width: 75px;
	-fx-background-radius: 50%;
	-fx-background-color: #F2F2F2;
	-fx-font-family: Poppins;
	-fx-font-size: 24px;
	-fx-text-fill: #F2F2F2;
}

/*** front page header***/
#main-header {
	-fx-padding: 25px 50px 0px 50px;
}

#Title{
	-fx-font-family: Poppins-Bold;
	-fx-font-size: 40px;
	-fx-text-fill: #219653;
}

/*** card ***/
.card {
	-fx-background-radius: 25px;
	-fx-effect: dropshadow(three-pass-box, #C5C5C5, 10, 25%, 0, 3);
	-fx-background-color: white;
}

.rectangle{
	-fx-fill: #FFFFFF;
	-fx-arc-width: 50;
	-fx-arc-height: 50;
	-fx-stroke: #FFFFFF;
}
.card-header {
	-fx-padding: 16px 24px 16px 24px;
	-fx-background-radius: 25px 25px 0px 0px;
	-fx-background-color: #F1F8F1;
}
.boxLabels{
	-fx-font-size: 24px;
	-fx-text-fill: #4F4F4F;
}
.boxSubLabels{
	-fx-font-size: 14px;
	-fx-text-fill: #8D8D8D;
}

/*** toggle button ***/
.toggle-btn {
	-fx-background-color: white;
	-fx-font-size: 18px;
}

#toggle_todo_btn {
	-fx-background-radius: 10px 0px 0px 10px;
}

#toggle_date_btn {
	-fx-background-radius: 0px 10px 10px 0px;
}

.toggle-btn:selected {
	-fx-background-color: #6FCF97;
	-fx-text-fill: white;
}

#add-btn {
	-fx-background-color: #6FCF97;
	-fx-background-radius: 10px;
	-fx-text-fill: white;
	-fx-font-size: 24px;
}

/*** note card text area***/
#notes_textarea {
	-fx-padding: 16px;
	-fx-background-color: transparent;
}

#notes_textarea .content {
    -fx-background-color: white;
}
